* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.row {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.col-one-fifth {
  flex-basis: 20%;
}

.center-content {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.center-text {
  text-align: center;
}

.img-fit {
  object-fit: contain;
}

.brand-name {

}

.size-info {
  color: rgb(223, 223, 223);
  border-left: 1px solid rgb(223, 223, 223);
  padding-left: 1em;
}

.price {
  background-color: rgb(253, 242, 231);
  border-radius: 3px;
  padding: 2px;
}

.retail {

}
