h2,
label,
button {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
}

fieldset {
  margin: 0 0 1rem;
  padding: 0;
  border: none;
}

.form-container {
  width: 584px;
  margin: 0 auto;
}

.form-heading {
  text-align: center;
  color: #ec5d57;
}

.form-group:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form-group > label {
  display: block;
  margin-bottom: 0.25rem;
  margin-left: 1rem;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  height: 3rem;
  padding: 0 1.75rem;
  border: none;
  border-radius: 500px;
  background-color: #ec5d57;
  font-size: 1.25rem;
  color: white;
}

.form-control {
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 8px;
  font-size: 1.25rem;
}

.form-control::placeholder {
  color: #999;
}

.form-control:focus {
  outline: none;
  border-color: #3898ec;
}

select.form-control {
  font-family: 'Brandon Grotesque', sans-serif;
  background-color: #efefef;
}

input.form-control {
  font-family: 'AtlasGrotesk', sans-serif;
  font-weight: 300;
}
