* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 3rem;

  /* letter-spacing: 0.3rem; */
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  padding: 3px;
}

.current {
  border-bottom: 3px solid black;
}

.correct {
  color: lime;
}

.incorrect {
  color: red;
  border-bottom: 3px solid red;
}

.popup-container {
  background-color: rgba(5, 5, 5, 0.1);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-window {
  color: rgb(234, 226, 183);
  background-color: rgb(0, 48, 73);
  border: 5px solid black;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.popup-window p {
  flex-basis: 100%;
}

.accuracy {
  margin-top: 50px;
  margin-bottom: 50px;
}

.evaluation {
  margin-top: 0;
  margin-bottom: 50px;
}

.popup-window button {
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid black;
  color: rgb(234, 226, 183);
  background-color: rgb(214, 40, 40);
  box-shadow: 3px 3px 5px black;
  font-weight: bold;
}

.popup-window button:active {
  transform: translateY(3px);
  box-shadow: none;
}

.hidden {
  display: none;
}
